/* 기본 body의 margin이 있는데 이를 0으로 만든다 */
body {
  margin: 0;
}

.nav {
  height: 70px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.nav-right-items {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.nav-item {
  margin-left: 10px;
}

.home-name {
  margin-left: 20px;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}
.subtitle {
  margin-top: 20px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
}

.main {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

/* .convert-box {
            display: flex;
        } */

.convert-item {
  margin: 20px;
  border-radius: 4px;
  text-align: center;
}

.find-button {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 40px;
  box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
  transition: 0.3s;
}

.find-button:focus {
  outline: 0;
}

.find-button:hover {
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 79, 255, 0.6);
}

.conv-button {
  color: white;
  background-color: #007bff;
  width: 300px;
  height: 100px;
  /* box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3); */
  font-size: 50px;
  font-weight: bold;
  border: none;
}

.conv-button:hover {
  background-color: rgba(0, 79, 255, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 79, 255, 0.6);
}

.convert-box {
  padding-top: 100px;
  margin: 0 auto;
}
